@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background: #f9fafe;
    --cardBackground: #fff;
    --textColour: #232429;
    --fadeBackground: #23242963;
    --btnBg: #222238;
    --borderColor: #e7ebf4;
    --green: #86efad55;
    --darkgren: #86efad;
    --shadow1: #eaebef;
    --shadow2: #ffffff;
}


/* applying dark mood */


/* [data-theme="dark"] {
    --background: #0a1a31;
    --cardBackground: #011627;
    --textColour: #ccfdfd;
    --fadeBackground: #23242963;
    --btnBg: #01213a;
    --borderColor: #e7ebf4;
    --green: #11a36676;
    --darkgren: #f5f846;
    --shadow1: #060c25;
    --shadow2: #020a22;
} */

body {
    background-color: var(--background);
}

.header {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: var(--cardBackground);
    border-bottom: 1px solid var(--borderColor);
    box-shadow: 10px 10px 24px var(--shadow1), -10px -10px 24px var(--shadow2);
}

.left h2 {
    font-family: "Pacifico", cursive;
}

.right {
    flex-basis: 60%;
    text-align: right;
    font-size: 20px;
}

.right i {
    margin: 10px;
    color: var(--textColour);
}

.container {
    max-width: 1024px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
}

.intro {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.displayImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.userCard {
    max-width: 300px;
    background-color: var(--cardBackground);
    border-radius: 8px;
    margin: 10px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    border: 1px solid var(--borderColor);
    box-shadow: 10px 10px 24px #eaebef, -10px -10px 24px #ffffff;
}

.userImage {
    width: 35%;
}

.userImage img {
    display: block;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 0;
}

.randomButton {
    outline: none;
    border: none;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    background-color: var(--btnBg);
    color: var(--background);
    border: 1px solid var(--borderColor);
    cursor: pointer;
    margin: 10px;
}

.hide {
    display: none;
}

.hidePanel {
    height: 0;
    overflow: hidden;
}

.show {
    height: auto;
}

.iconBox i {
    font-size: 28px;
    color: var(--btnBg);
    margin: 10px;
}

.green {
    background: var(--green);
}

.activeUsername {
    color: var(--darkgren);
}

.countSentence {
    font-size: 18px;
    font-weight: 700;
}

.time {
    font-size: 30px;
    display: block;
    font-weight: 600;
    color: var(--darkgren);
}


/* popup */

.popupParent {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: var(--fadeBackground);
    transform: scale(0);
    transition: 0.5s;
    z-index: 2;
}

.popup {
    height: 270px;
    width: 270px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    text-align: center;
    background: var(--cardBackground);
    border: 1px solid var(--borderColor);
}

.popupImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
    padding: 5px;
    border: 1px dashed var(--borderColor);
}

.scale1 {
    transform: scale(1);
}

.data {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    text-align: center;
    background: var(--cardBackground);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    color: var(--textColour);
    margin: 70px 0;
    position: relative;
}

.data::after {
    content: "Programming Quote";
    position: absolute;
    top: -44px;
    left: 20px;
    padding: 10px;
    background: var(--cardBackground);
    border: 1px solid var(--borderColor);
    border-radius: 4px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.footerCredit {
    text-align: center;
    margin: 20px 0;
}

.ftr {
    max-width: 1024px;
    margin: auto;
    background: var(--cardBackground);
    border: 1px solid var(--borderColor);
    box-shadow: 10px 10px 24px var(--shadow1), -10px -10px 24px var(--shadow2);
}

.ftr a {
    text-decoration: none;
    color: var(--textColour);
    font-family: "Pacifico", cursive;
    font-size: 18px;
}

@media only screen and (max-width: 740px) {
    .displayImages {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .container {
        margin: auto;
        margin-top: 120px;
    }
    .userCard {
        max-height: 120px;
        overflow: hidden;
    }
}